<%= form_for [@group, @position] do |f| %>
   <% if @position.errors.any? %>
    <div id="errorExplanation">  
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>  
      <ul>  
        <% @position.errors.full_messages.each do |msg| %>  
          <li><%= msg %></li>  
        <% end %>  
      </ul>  
    </div>                                    
  <% end %> 
  <%= f.label :title_en %>
  <%= f.text_field :title_en, :class => 'text' %>
  <%= f.label :title_no %>
  <%= f.text_field :title_no, :class => 'text' %>
  <%= f.label :holder %>
	<%= f.text_field :user_tokens, "data-pre" => @position.users.map(&:id_name).to_json %>
  <%= link_to t('users.actions.new'), new_user_path %>
  <%= f.label "English description" %>
  <%= f.text_area :description_en, :class => 'text_area' %>
  <%= f.label "Norwegian description" %>
  <%= f.text_area :description_no, :class => 'text_area' %>
  <%#= f.label :group_dn %>
  <%#= f.text_area(:group_dn, :class => 'text_area') %>
  <%#= f.label(:admission_id) %>
  <%#= f.text_field(:admission_id, :class => 'text') %> 
  <%#= f.label("Main group of position") %>
  <%#= f.select 'group_id', @groups.to_select_2 %> 
  <%= f.label :groups %>
	<%= f.text_field :group_tokens, "data-pre" => @position.groups.map(&:id_name).to_json %>
  <%= f.submit %>
<%end%>

