<h2><%= @group.new_record? ? t('groups.actions.new') : t('groups.actions.edit') %></h2>
<%= form_for [@group.festival || @group.section, @group] do |f| %>
  <%= f.label(:name_en) %>
  <%= f.text_field(:name_en, :class => 'text') %>
  <%= f.label(:name_no) %>
  <%= f.text_field(:name_no, :class => 'text') %>
  <%= f.label(:tag) %>
  <%= f.text_field(:tag, :class => 'text') %>

  <%= f.submit %>
<% end %>
