<h1><%= @user.given_name %> <%= @user.family_name %> - @<%= link_to @user.username, "https://internal.isfit.org/users/username/#{@user.username}" %></h1>
<div id="user-personal">
  <h2>Personal information</h2>
  <p>
    <b>Date of birth:</b> <%= @user.date_of_birth %><br>
    <b>Gender:</b> <%= @user.gender == 1 ? "Male":"Female" %><br>
    <b>Phone:</b> <%= @user.phone %><br>
    <b>Private email:</b> <%= @user.private_email %><br>
  </p>
</div>
<div id="user-tools">
  <h2>Tools</h2>
  <p>
    <%= link_to "Generate new internal password", generate_password_user_path(@user), method: :post %>
  </p>
</div>
