<h2><%= @festival.new_record? ? "New Festival" : "Edit festival" %></h2>
<%= form_for @festival do |f| %>
  <%= f.label :year %>
  <%= f.text_field(:year, :class => 'number') %>
  <%= f.submit "Save" %>
<% end %>
