<div id="toolbar">
  <%= link_to("Edit festival", edit_festival_path(@festival), :class => :edit) %>
  <%= link_to("New section", new_festival_section_path(@festival), :class => :add) %>
  <%= link_to("New group", new_festival_group_path(@festival), :class => :add) %>
</div>
<div id="items">
  <% if @festival.groups.any? || @festival.sections.any? %>
    <%= render :partial => 'groups/list', :locals => {:groups => @festival.groups} %>
    <%= render :partial => 'sections/list', :locals => {:sections => @festival.sections} %>
  <% else %>
    <%= t('festivals.empty') %>
  <% end %>
</div>
